<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-sm-12 text-center">
      <!-- <h1>AgroDefender</h1> -->
      <img src="../../assets/logo.svg" alt="Logo" class="img-fluid">
    </div>
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="searchHelp"
        placeholder="Faça a busca por uma bula..." formControlName="search">      
    </div>
    <!-- <div class="row d-flex justify-content-center">
      <div class="col-sm-6 ">
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" formControlName="search" autocomplete="off">
          <button mat-button *ngIf="form.get('search').value" matSuffix mat-icon-button aria-label="Clear" (click)="form.get('search').setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div> -->
   
  </form> 
  
  <div class="row mt-05">
    <div class="col-sm-12" *ngIf="results.length > 0">
      <table class="table table-borderless">
        <thead>
          <tr >
            <th class="font-weight-bold">Nome</th>
            <th class="font-weight-bold">Categoria</th>
            <th class="font-weight-bold text-center">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results">          
            <td>{{result.nome}}</td>
            <td>{{result.categoria}}</td>
            <td class="text-center"><a [href]="result.pdfLink" target="blank">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cloud-download" fill="#323232" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
              </svg>
            </a></td>
          </tr>                  
        </tbody>
      </table>
    </div>
  </div>
</div>
